<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:include="header"></head>
<body>
<div th:include="navbar"></div>
<div class="container" style="margin: 0 auto;width: 500px;margin-top: 100px">
    <div>
    <img src="/images/unisex-profile-photo.png" style="position: relative;margin-left: 80px" height="250px" width="250px">
    </div>
    <div class="user-info" style="float: right;margin-top: 10px">
        <p>Full Name : <span th:text="${user.fullname}"></span> </p>
        <p>Account Balance: <span th:text="${user.balance}"></span>₺</p>
        <p sec:authorize="hasAuthority('VIP') && !hasAuthority('TRAINER')" th:text="${vipMessage}"></p>
        <p>Status : <span th:each="rl : ${user.getRoles()}">
            <span th:text="${rl.role}"></span>
        </span>
        </p>
        <a sec:authorize="hasAuthority('VIP')" th:text="${emptyMessage}" href="/user/upgrade">Upgrade to VIP with Only 100₺</a>
        <br>
        <br>
        <p><span style="color: red;font-weight: bold" th:text="${message}"></span></p>
        <br><br>
    </div>
</div>
</body>
</html>

</body>
</html>